name: Wolfictl Update From Release Monitor

on:
  workflow_dispatch:
  # Triggers the workflow every hour
  schedule:
    - cron: "0 * * * *"

permissions:
  contents: read
  id-token: write

env:
  GIT_AUTHOR_NAME: frosh-ci
  GIT_AUTHOR_EMAIL: ci@fos.gg

jobs:
  update:
    name: Wolfictl Update
    if: github.repository == 'shyim/wolfi-php'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.1

    - uses: octo-sts/action@d6c70ad3b9ac85df6da6b9749014d7283987cfec # v1.0.3
      id: octo-sts
      with:
        scope: ${{ github.repository }}
        identity: release-monitoring-updates

    - uses: ./.github/action/wolfictl-update-rm
      with:
        repository: ${{ github.repository }}
        release_monitor_token: ${{ secrets.RELEASE_MONITOR_TOKEN }}
        token: ${{ steps.octo-sts.outputs.token }}
        git_author_name: ${{ env.GIT_AUTHOR_NAME }}
        git_author_email: ${{ env.GIT_AUTHOR_EMAIL }}
